$headerBackground : #2A2727;
$Backgound : #464646;
$text-color : #FFFBFB;
$accent : #F80000;
$searchBackground: #443F3F;
$font-weights: (
    "regular" :400,
    "medium" :500,
    "bold" :700,

);
$mobileWidth:1170px;
$shadow : 5px 5px 5px 2px #000;
$headerShadow : 0 50px 50px rgba(0, 0, 0, 0.44);
$serachShadowSmall : 0 15px 6px rgba(0, 0, 0, 0.26);