<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Face</title>
</head>
<body>
    <h1>Add New Face</h1>
    
    
    <form method="POST">
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" id="fullName">

        <label for="age">Age</label>
        <input type="text" name="age" id="age">

        <label for="gender">Gender</label>
        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <input type="submit" value="Start Capturing">
    </form>
</body>