<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Face</title>
</head>
<body>
    <h1>Capturing Face Data</h1>
    <h3>After capturing 100 sampkes of your Face it will rediect to intial state</h3>
    <img id="bg" src="{{ url_for('capture_feed', form=form) }}">

    <h3>if it does rediect After capture finished click <a href="/">here</a></h3>
    <h3> <a href="/start_training">Train And Go Ahead</a></h3>

</body>
</html>